<div class="container">
  <label class="col-form-label mt-4" for="inputDefault">Produtos no estoque</label>
  <input type="text" class="form-control" placeholder="Pesquisar..." [(ngModel)]="filterTerm">
</div>

<div class="col text-center">
  <br>
  <button type="button" class="btn btn-success" (click)="open(mymodal)">
    <i class="fa-solid fa-plus"></i> Adicionar Estoque</button>
</div>

<br>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of stock | filter : filterTerm">
        <th scope="row">{{obj.productName}}</th>
        <td>{{obj.productQuantity}}</td>
        <td>
          <button type="button" class="btn btn-outline-warning m-1" (click)="openEdit(mymodalEdit)" (click)="onSelect(obj)">
            <i class="fa-solid fa-edit"></i> Editar</button>
          <button type="button" class="btn btn-primary" (click)="delete(obj)">
            <i class="fa-solid fa-trash"></i> Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #mymodal let-modal [formGroup]="Form">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Produto em Estoque</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="color: white;">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="exampleTextarea" class="form-label sm-2">Nome do Produto</label>
    <select class="form-select" id="exampleSelect1" formControlName="productId">
      <option>Selecionar...</option>
      <option *ngFor="let item of product" value={{item.id}}>{{item.name}}</option>
    </select>

    <label for="exampleTextarea" class="form-label mt-2">Quantidade</label>
      <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0)
      ? null : event.charCode >= 48 && event.charCode <= 57"
      class="form-control" formControlName="productQuantity">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" style="color: white;" (click)="post()">Enviar</button>
  </div>
</ng-template>

<ng-template #mymodalEdit let-modal [formGroup]="FormEdit">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Quantidade Produto em Estoque</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="color: white;">
      <span aria-hidden="true">×</span>
    </button>
  </div>
    <label for="exampleTextarea" class="form-label mt-2">Quantidade</label>
      <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0)
      ? null : event.charCode >= 48 && event.charCode <= 57"
      class="form-control" formControlName="productQuantity" [(ngModel)]="stockSelecionado.productQuantity">
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" style="color: white;" (click)="put(stockSelecionado)">Enviar</button>
  </div>
</ng-template>
