<div class="container">
  <label class="col-form-label mt-4" for="inputDefault">Produtos no estoque</label>
  <input type="text" class="form-control" placeholder="Pesquisar...">
</div>

<div class="col text-center">
  <br>
  <button type="button" class="btn btn-success" (click)="open(mymodal)">
    <i class="fa-solid fa-plus"></i> Adicionar Estoque</button>
</div>

<br>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr ngFor="let curso of cursos | filter:filterTerm">
        <th scope="row"></th>
        <td></td>
        <td>
          <button type="button" class="btn btn-outline-warning m-1">
            <i class="fa-solid fa-edit"></i> Editar</button>
          <button type="button" class="btn btn-primary">
            <i class="fa-solid fa-trash"></i> Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Produto em Estoque</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="color: white;">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="exampleTextarea" class="form-label sm-2">Nome do Produto</label>
    <select class="form-select" id="exampleSelect1" formControlName="categoriaId">
      <option>Listagem de Produtos</option>
      <option>Teste</option>
      <option>Teste2</option>
    </select>

    <label for="exampleTextarea" class="form-label mt-2">Quantidade</label>
      <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0)
      ? null : event.charCode >= 48 && event.charCode <= 57"
      class="form-control" formControlName="quantidadeAluno">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" style="color: white;">Enviar</button>
  </div>
</ng-template>
